doctype
html
	head
		title #{title} reference
		link(rel="stylesheet", type="text/css", href="style.css")

	body
		span.logo.logo-ampersand #{title} reference

		if entries.Guide
			h2 Guides
			ul
				for entry in entries.Guide
					li 
						a(href="#{entry.module}.html") #{entry.name}

		if entries.Module
			h2 Modules
			ul
				for entry in entries.Module
					li 
						a(href="#{entry.module}.html") #{entry.name}

		if entries.Class
			h2 Classes
			ul
				for entry in entries.Class
					li 
						a(href="#{entry.module}.html##{entry.anchor}") #{entry.name}


		if entries.Method
			h2 Methods
			ul
				for entry in entries.Method
					li 
						a(href="#{entry.module}.html##{entry.anchor}") #{entry.name}

		if entries.Property
			h2 Properties
			ul
				for entry in entries.Property
					li 
						a(href="#{entry.module}.html##{entry.anchor}") #{entry.name}

		if entries.Function
			h2 Functions
			ul
				for entry in entries.Function
					li 
						a(href="#{entry.module}.html##{entry.anchor}") #{entry.name}
