doctype
html
	head
		title= module.name
		link(rel="stylesheet", type="text/css", href="style.css")
		meta(charset="utf-8")

	body
		h1 #{module.name}
			| 
			a.source(href="https://github.com/AmpersandJS/#{module.name}/blob/master/#{module.name}.js") [source]
		div!= module.html
